body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.display-area {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    text-align: center;
    margin: auto;
    width: fit-content;
}

.rates-container {
    height: 200px; /* Adjust as needed */
    overflow-y: scroll;
    border: 1px solid #aaa;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
}